.carousel-actions {
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
    z-index: 9;
  
    span {
      cursor: pointer;
    }
  }
  
  @media screen and (max-width:992px) {
  
    .carousel-actions {
      padding-top: 20px;
      justify-content: flex-end;
      gap: 17px;
  
      svg {
        width: 60px;
        height: 60px;
      }
    }
  }