.hero-basic {
  min-height: calc(20vw);
  background-color: #3b9c1d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 0 100px 0;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 1000px;

  h1 {
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 25px;
    margin-top: 1rem;
    max-width: 800px;
  }

  .introduction {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    max-width: 800px;
  }

  .back-link {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 75px;

    span {
      color: var(--pm-black);
      font-family: var(--secondary-font);
      font-size: 23px;
      font-style: normal;
      font-weight: 450;
      line-height: 170%;
    }
  }

  .region-custom-dropdown {
    margin: 0;

    .dropdown-toggle {
      color: var(--pm-black);
    }

    .dropdown-menu {
      left: 96%;
    }
  }

  &.green {
    background-color: var(--pm-green);

    h1,
    .introduction,
    .region-custom-dropdown .dropdown-toggle {
      color: var(--pm-cream);
    }

    .back-link {

      svg path {
        fill: var(--pm-cream);
      }

      span {
        color: var(--pm-cream);
      }
    }
  }

  &.violet {
    background-color: var(--pm-lavander);
  }

  &.center-icon {
    background-size: 15%;
    background-position: 98% center;
  }
}

@media screen and (max-width:992px) {
  .hero-basic {
    h1 {
      font-size: 29px;
      line-height: 115%;
      padding-bottom: 30px;
    }
  }
}