.accordion-block {
  .item {
    cursor: pointer;
    padding: 25px !important;
    margin-bottom: 5px !important;
    border-radius: 10px;
    background-color: #F9F8F5;
    background-color: rgba(248, 249, 250, 1);

    .accordion-title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        letter-spacing: -.025em;
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 1.5rem;
      }
    }

    .accordion-content {
      display: none;
    }

    &.active {
      .accordion-content {
        display: block;
        margin-top: 20px;
        font-size: 1.2rem;
        line-height: 1.25rem;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .accordion-block {
    margin-top: 20px !important;

    .item {
      padding: 15px !important;

      .accordion-title h3 {
        font-size: 15px !important;
        font-weight: 700 !important;
        line-height: 145% !important;
        margin: 0 !important;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .accordion-block {
    padding-top: 0;

    .item {
      .accordion-title h3 {
        font-size: 20px;
        line-height: 110%;
        margin: 0;
      }
    }
  }
}