.button-block {
  color: rgb(24, 24, 27);
  border: 1px solid hsl(240 5.9% 90%);
  text-decoration: none;
  font-weight: 500;
  font-size: .885rem;
  line-height: 1.25rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: calc(.5rem - 2px);
  justify-content: center;
  align-items: center;
  height: 2.25rem;
  display: inline-flex;
  cursor: pointer;

  &:hover {
    color: rgb(24, 24, 27);
    background-color: hsl(240 5.9% 90%);
  }

  &.primary {
    color: hsl(0 0% 98%);
    background-color: hsl(240 5.9% 10%);

    &:hover {
      background-color: hsl(240, 3%, 25%);
    }
  }

  &.outline {
    border-radius: 0;
    border: 2px solid;
  }

  &.icon {
    display: flex;
    align-items: center;
    gap: 5px;

    svg {
      height: 20px;
    }
  }
}

.button-list {
  display: flex;
  align-items: center;
  gap: 15px;
}