.button-block {
  display: inline-block;
  color: var(--white);
  background-color: var(--dark);
  border: none;
  border-radius: 0;
  text-decoration: none;
  padding: 15px 20px;
  box-shadow: 4px 4px 0px 0px var(--main-color);

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  &.btn-primary {
    color: var(--main-color);
  }

  &:hover {
    color: #000;
    background-color: var(--main-color);
  }
}

.button-list {
  display: flex;
  align-items: center;
  gap: 15px;
}