.app-dashboard {
  display: grid;
  grid-template-columns: 2fr 10fr;
  height: 100vh;
  overflow: hidden;

  main {
    position: relative;
    overflow-y: auto;
    padding-top: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .app-dashboard {
    display: block;
    overflow: auto;

    main {
      padding: 2rem 0;
      overflow-y: auto;
    }
  }
}