.app-dashboard {
  display: grid;
  grid-template-columns: 2fr 10fr;
  // height: 100vh;
  overflow: hidden;

  main {
    position: relative;
    overflow-y: auto;
    // padding-top: 3rem;
  }

  .logs-wrapper {
    margin-top: 25px;
  }

  .componentInfo {
    border-radius: 10px;
    background-color: #F8F8F8;
    padding: 20px 20px 40px 20px;
    margin-bottom: 2rem;
    margin-top: 25px;

    h2 {
      color: #262626;
      font-family: Lora;
      font-size: 2rem;
      font-weight: 700;
      line-height: 120%;  
      
      span {
        color: #003293;

        &:before {
          content: ' > ';
          color: #262626;
        }
      }
    }

    p {
      font-size: 0.85rem;
      font-weight: 400;
      line-height: 135%;
      margin-bottom: 0;
    }
  }

  .btn-toggler {
    color: var(--main-color);
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    background-color: transparent;
    text-decoration: none;

    svg {
      margin-right: 5px;
      margin-top: -5px;
    }
  }
}

@media screen and (max-width: 767px) {
  .app-dashboard {
    display: block;
    overflow: auto;

    main {
      padding: 2rem 0;
      overflow-y: auto;
    }
  }
}