.card-grid-block {
  margin-top: 50px;
  padding-bottom: 115px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    h3 {
      letter-spacing: -.025em;
      font-weight: 700;
      font-size: 2.2rem;
      line-height: 2rem;
    }
  }
}

.card {
  display: block;
  text-decoration: none;
  min-height: 450px;
  height: 100%;
  border-radius: calc(0.5rem - 2px);
  border: 2px solid var(--dark);
  background-color: var(--nb-bg-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  box-shadow: 0 0 #0000,
    0 0 #0000,
    0 0 #0000,
    0 0 #0000,
    0 1px 3px 0 rgba(0, 0, 0, .1),
    0 1px 2px -1px rgba(0, 0, 0, .1);

  .image {
    * {
      width: 100%;
      height: 100%;
    }
  }

  .card-content {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .icon {
      margin-bottom: 30px;

      span {
        font-size: 75px;
        color: var(--dark);
      }
    }

    h3 {
      letter-spacing: -.025em;
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 1.3rem;
    }

    .introduction {
      color: hsl(240 3.8% 46.1%);
      font-size: .95rem;
      line-height: 1.25rem;
    }
  }

  &:hover {
    background-color: var(--nb-primary-color-light);

    .content-tool {
      .introduction {
        color: var(--dark);
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .card-grid-block {
    padding-bottom: 30px;
    margin-top: 20px;

    .header {
      margin-bottom: 30px;

      h3 {
        font-size: 23px;
        margin-bottom: 35px;
      }
    }

    .row>* {
      margin-top: 0;
    }
  }

  .card {
    height: auto;
    min-height: auto;
    margin-bottom: 19px;

    .image {
      * {
        width: 100%;
      }
    }

    .content-tool {
      padding: 15px 25px;

      .icon {
        margin-bottom: 20px;

        span {
          font-size: 45px;
        }
      }

      h3 {
        font-size: 29px;
        margin-bottom: 20px;
      }

      .introduction {
        font-size: 15px;
        line-height: 130%;
        margin-bottom: 60px;
      }
    }
  }
}