@import url(_colors.scss);
@import url(_fonts.scss);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.map-wrapper.app-map {
  .cluster-marker {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.button-list {
  background: #bfbfbf;
  padding: 20px;
}