@import url(_colors.scss);
@import url(_fonts.scss);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.show {
  display: block;
}

.hide {
  display: none !important;
}

.map-wrapper.app-map {
  .cluster-marker {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.extra-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn-primary {
  background-color: #0044C8;
}

@media screen and (max-width: 992px) {
  .cta-grid {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;

    .button-list {
      flex-direction: column;

      a {
        width: 100%;
        text-align: center;
      }
    }

    .extra-buttons {
      flex-direction: column;

      div {
        width: 100%;
        justify-content: center;
      }
    }
  }

  .list-paginated {
    display: flex;
    flex-direction: column;
    gap: 10px;

    div {
      width: 100% !important;
    }
  }
}