.btn-primary {
    background-color: var(--main-color);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
    padding-top: 15px;
    padding-bottom: 15px; 
}

.form-control {
    border: 1px solid #C6C9CE;
    border-radius: 5px;
    padding: 10px;
    line-height: 1;
    margin-bottom: 15px;
}

.footer-login {
    color: #C6C9CE;
}