.app-sidebar {

  z-index: 9;
  overflow-y: auto;
  padding-bottom: 80px;

  .logo {
    padding-left: .75rem;
    padding-right: .75rem;
    margin-bottom: 1.5rem;

    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    color: rgb(9, 9, 11);
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(9, 9, 11, .1);
    cursor: pointer;
  }

  .app-nav {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    gap: .25rem;
    display: grid;
  }

  .nav-item {
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

    padding-right: .75rem;

    font-size: 1rem;
    line-height: 1;
    font-weight: 500;
    cursor: pointer;

    padding-left: 0.5rem;
    margin-left: -0.5rem;

    width: 100%;

    svg {
      width: 1rem;
      height: 1rem;
      margin-right: .5rem;
    }

    &.active {
      color: #FFF;
      background-color: rgba(24, 24, 27, 0.9);

      svg {
        filter: invert(1);
      }

      &:hover {
        color: #FFF;
      }
    }

    .items-counter {
      margin-left: auto;
      padding: 0.25rem 0;
      border-radius: 4px;
      background-color: rgba(24, 24, 27, 0.9);
      color: #FFF;
      font-size: 0.75rem;
      line-height: 0.75rem;
      width: 1.25rem;
      height: 1.25rem;
      text-align: center;

      svg {
        margin-right: 0;
        margin-top: -0.25rem;
      }
    }

    &:hover {
      color: #003293;

      .items-counter {
        background-color: #003293;
      }
    }

    &.nested {
      font-size: 0.85rem;
    }
  }

  .wrapper-label {
    font-size: 1.125rem;
    line-height: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;

    &:not(&:first-of-type) {
      margin-top: 1.5rem;
    }
  }
}

.mega-menu {
  top: 370px;
}

@media screen and (max-width: 767px) {
  .app-sidebar {
    height: 60px;
    position: relative;

    .logo {
      position: fixed;
      width: 100%;
      background-color: white;
      top: 0px;
      padding-top: 15px;
    }

    .app-nav {
      padding: 0;
      margin-top: 3rem;
    }
  }

  .collapse:not(.show) {
    display: block;
    height: 60px;
    position: relative;

    &::after {
      content: '▼';
      /* Unicode character for down arrow */
      position: fixed;
      right: 20px;
      top: 20px;
      font-size: 12px;
      color: black;
    }
  }

  .collapse.show {
    height: 100vh;

    &::after {
      content: '▲';
      /* Unicode character for up arrow */
      position: fixed;
      right: 20px;
      top: 20px;
      font-size: 12px;
      color: black;
    }

    .app-nav {
      padding-left: .5rem;
    }
  }
}

/**/

