.narrative-block-component {
  padding: 50px 0;

  h2 {
    font-size: 49px;
    text-transform: uppercase;
  }

  h3 {
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
  }

  .text {
    margin-bottom: 1rem;
  }

  &.dark {
    background-color: #bbbbbb;
  }
}