.form-example {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // gap: 100px;
  column-gap: 100px;
  row-gap: 50px;

  .full {
    grid-column: span 2;
  }
}

@media screen and (max-width: 992px) {
  .form-example {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}