.custom-navbar {
  top: 0;
  min-height: 90px;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  padding: 0 30px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(248, 249, 250, 1);
  border-radius: calc(.5rem - 2px);

  .navbar-brand {
    font-size: 2rem;
    font-weight: 800;
  }

  .dropdown {
    &-menu {
      padding: 20px;
      border-radius: 5px;
      background-color: rgba(248, 249, 250, 1);

      &.open {
        display: block;

        .dropdown-item {
          a {
            font-style: normal;
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 130%;
            color: #000;
            text-transform: none;
          }
        }
      }
    }

    &-item {
      padding: 0;

      &:focus,
      &:hover {
        color: #000;
        background-color: transparent;
      }

      &:not(:last-child) {
        padding-bottom: 20px;
      }
    }
  }

  .site-nav {
    justify-content: flex-end;
    height: 90px;

    ul {
      align-items: center;
      height: 100%;

      li.nav-item {
        margin-right: 2.813rem;
        align-content: center;
        height: 100%;

        a {
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 130%;
          color: #000;
          transition: all 0.3s ease;
          text-decoration: none;
        }

        &:hover {

          a {
            color: #e76a16 !important;
            border-bottom: 2px solid #e76a16;
          }

          .mega-menu {

            .sub-nav-items {
              a {
                border-bottom: none;
              }
            }
          }
        }

        .dropdown-link {
          border-bottom: none!important;
          text-decoration: none;
        }

        .btn-primary {
          color: #fff!important;

          &:hover {
            color: #fff!important;
            background-color: #000;
            border-bottom: none
          }
        }

        .btn-search {
          cursor: pointer;
          padding: 0;

          &:hover {
            border-bottom: none
          }
        }

      }
    }

    .nav-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }

  &.nav-yellow-hover .site-nav {
    ul {
      li.nav-item {
        a {
          &:hover {
            color: var(--yellow) !important;
          }
        }
      }
    }
  }

  .navbar-toggler {
    &:focus {
      box-shadow: none;
    }
  }

  .nav-white {
    @media screen and (min-width: 991px) {
      >li>a {
        color: #fff !important;
      }
    }
  }
}

// Mobile open/close icon
.navbar-toggler-icon {
  height: 4px !important;
  background-color: var(--dark) !important;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;

  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 4px;
    background-color: var(--dark) !important;
    width: 1.5em;
    left: 0;
    transition: 0.25s ease-in-out;
  }

  &:before {
    top: -10px;
  }

  &:after {
    bottom: -10px;
  }

  &.open-toggle {
    background-color: var(--dark) !important;
    opacity: 1;
    top: 0px;
    height: 4px;
    -webkit-transform: rotate(132deg);
    -moz-transform: rotate(132deg);
    -o-transform: rotate(132deg);
    transform: rotate(132deg);

    &:before {
      opacity: 0;
      right: -60px;
    }

    &:after {
      background-color: var(--dark-green);
      content: '';
      opacity: 1;
      top: 0px;
      bottom: unset;
      height: 4px;
      -webkit-transform: rotate(-85deg);
      -moz-transform: rotate(-85deg);
      -o-transform: rotate(-85deg);
      transform: rotate(-85deg);
    }
  }
}

// Mobile menu when is open
.navbar-collapse.show {
  padding: 1.5rem 0;
  background-color: var(--white);
}

.footer {
  background-color: #262626;
  padding: 40px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content-top {
  font-size: 0.9rem;
  max-width: 684px;
}

.footer-links {
  border-top: 1px solid #575757;
  padding-top: 35px;
  margin-top: 35px;
  width: 100%;
}

.footer-link {
  color: #ffffff;
  font-size: 0.8rem;
  text-decoration: none;

  &:after {
    content: '|';
    margin: 0 10px;
  }

  &:last-child:after {
    content: '';
  }
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-text {
  color: #ffffff;
}

@media screen and (max-width: 991px) {
  .navbar {
    min-height: auto;
    padding: 5px 0;

    a.navbar-brand {
      max-width: 60%;

      img {
        padding-left: 15px;
        width: 100%;
      }
    }

    &.sticky-nav {
      .navbar-brand>img {
        padding-left: 15px;
        width: 60%;
      }
    }

    button {
      padding-right: 15px;
      border: 0 !important;
    }

    .navbar-collapse {
      transition: 0.15s all ease-in-out;

      &.show {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
      }
    }

    &.home-nav {

      .navbar-toggler-icon,
      .navbar-toggler-icon:before,
      .navbar-toggler-icon:after {
        background-color: var(--white) !important;
      }

      .navbar-toggler-icon.open-toggle {
        background-color: var(--dark) !important;

        &::before,
        &::after {
          background-color: var(--dark) !important;
        }
      }
    }

    &.home-nav.sticky-nav {

      .navbar-toggler-icon,
      .navbar-toggler-icon:before,
      .navbar-toggler-icon:after {
        background-color: var(--dark) !important;
      }
    }

    &.expanded {
      background-color: var(--white) !important;
      padding-bottom: 0rem;

      #navNav ul li.nav-item {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    border-radius: 0px 4px 4px 4px;
    border: none;
    top: unset;
    height: auto;
  }
}

@media screen and (max-width: 991px) {
  .navbar.expanded #navNav ul li.nav-item {
    text-align: center;
  }

  li.dropdown ul.dropdown-menu {
    background-color: transparent !important;
    border: none;
    text-align: center;
  }

  .custom-navbar {

    .site-nav ul {
      align-items: start;
    }

    .dropdown-item {
      text-align: left;
    }

    .dropdown-menu.open {
      box-shadow: none;
    }
  }

  .custom-navbar.navbar-expand-lg.expanded {

    .show.collapse.navbar-collapse.site-nav {
      height: 100vh;
      overflow: scroll;
      overflow-x: hidden;
      padding-bottom: 8rem !important;
      position: absolute;
      top: 90px;
    }

    .mega-menu.open {
      position: relative;
      width: 100%;
      top: unset;
      box-shadow: none;
    }

    .site-nav ul li.nav-item {
      margin-right: 0;
      width: 100%;
      height: auto;
    }

  }

  .mega-menu .main-content {

    .primary-item, .sub-nav-items {
      padding-right: 0;
      padding-left: 0;

      a {
        border-bottom: none;
        text-decoration: none;
      }
    }
  }

}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .navbar {

    .navbar-brand img {
      padding-left: 15px;
      width: 87%;
    }

    .nav-item {
      margin-right: 25px !important;

      a {
        font-size: 20px !important;
      }
    }
  }
}